# Игнорирование директорий виртуального окружения
venv/
.env
__pycache__/

# Игнорирование файлов IDE PyCharm
.idea/

# Игнорирование файлов и директорий логов
*.log
*.pyc

# Игнорирование артефактов сборки
dist/
build/
*.egg-info/

